# Build output
android/
ios/
build/
dist/
.coverage/
.gradle/
Pods/

# Node & package managers
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env & config
.env
.env.*
*.log

# Misc
*.min.js
*.min.css
*.snap
